/* Root */
:root {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    --bs-navbar-brand-padding-y: 0.3125rem;
    --bs-navbar-brand-margin-end: 1rem;
    --bs-navbar-brand-font-size: 1.25rem;
    --bs-navbar-brand-color: rgba(0, 0, 0, 0.9);
    --bs-navbar-brand-hover-color: rgba(0, 0, 0, 0.9);
    --bs-navbar-nav-link-padding-x: 0.5rem;
    --bs-navbar-toggler-padding-y: 0.25rem;
    --bs-navbar-toggler-padding-x: 0.75rem;
    --bs-navbar-toggler-font-size: 1.25rem;
    --main-color:#D22E2E;
}
/* Start Container */
.container-2{
    width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-right: auto;
    margin-left: auto;
}
@media (min-width: 1400px){
    .container-2 {
        max-width: 1320px;
    }
}
@media (min-width: 1200px) and (max-width:1399px){
    .container-2 {
        max-width: 1140px;
    }
}
@media (min-width: 992px) and (max-width:1199px){
    .container-2 {
        max-width: 960px;
    }
}
@media (min-width: 768px) and (max-width:991px){
    .container-2 {
        max-width: 720px;
    }
}
@media (min-width: 576px) and (max-width:767px){
    .container-2 {
        max-width: 540px;
    }
}
/* End Container */